@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Week4Capstone.Models.Product>


<h1>@ViewData["Title"]</h1>

<style>

    .right {
        text-align: right;
    }

    img {
        display: block;
        max-width: 100%;
        height: 200px;
    }
</style>

<table class="table">
    <thead>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    <img src=@item.URL />
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Price)
                </th>
            </tr>
        }
    </thead>
</table>

<p class="right">The total of your order is @ViewBag.Total.ToString("C")</p>